<nav id="loguser">
  <div class="hello"><h4>artist Gallery <%= currentUser.firstname %>!</h4></div>
  <!-- <div><h3>You are logged in <%= currentUser.firstname %>!</h3></div> -->
  <hr />
  <div>
    <% if(currentUser.userType == "admin"){ %> <%
    users.forEach(function(user){%>
    <div><%= user.firstname %></div>
    <% }) %> <% } %>

    <h1>Best Seller</h1>

    <div class="empty">
      <%arts.forEach(art => {%>
      <div class="box">
        <form action="/order/add/<%= art._id %>" method="POST">
          <img src="<%= art.image %>" width="220px" height="220px" />
          <%if(currentUser.userType == "user"){%>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Add to Cart
          </button>
          <%}%>
        </form>
      </div>
      <%})%>

      <div class="box"></div>
      <div class="box"></div>

      <div class="box clear"></div>
      <div class="box special"></div>
      <div class="box"></div>
    </div>
  </div>

  <div class="partner">
    <h1>ARTISTS WE WORK WITH</h1>
    <div class="artists__container">
      <% users.forEach(user => { %>
      <div class="artist__box">
        <div>
          <a href="/user/show/<%= user._id %>">
            <img src="<%= user.image %>" height="200px" width="200px" />
          </a>
        </div>
        <div>
          <div>Email Address:</div>
          <div><%= user.email %></div>
        </div>
        <div>
          <div>Phone Number:</div>
          <div><%= user.phone %></div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</nav>

<div>
  <h1>Advertisements</h1>
  <div class="empty">
    <div class="box">
      <img
        src="/images/khsinanay.jpg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
    <div class="box">
      <img
        src="/images/Eq6-.jpeg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
    <div class="box">
      <img
        src="/images/1111.jpeg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
  </div>
</div>
