<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<nav id="loguser">
  <div class="hello"><h4>artist Gallery <%= currentUser.firstname %>!</h4></div>
  <!-- <div><h3>You are logged in <%= currentUser.firstname %>!</h3></div> -->
  <hr />
  <div>
    <% if(currentUser.userType == "admin"){ %> <%
    users.forEach(function(user){%>
    <div><%= user.firstname %></div>
    <% }) %> <% } %>

    <h1 class="best">Best Seller</h1>

    <div class="empty" id="price">
      <%arts.forEach(art => {%>
      <div class="box">
        <div class="w3-tooltip">
          <p class="w3-text">
            Art Description: <%= art.description %> <br />Price: <%= art.price
            %>
          </p>
          <img
            src="<%= art.image %>"
            class="w3-hover-opacity"
            width="220px"
            height="220px"
          />
        </div>
        <div>
          <%if(currentUser.userType == "user"){%>
          <form action="/order/add/<%= art._id %>" method="POST">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Add to Cart
            </button>
          </form>
          <%}%>
        </div>
      </div>
      <%})%>
    </div>
  </div>
  <hr />
  <div class="partner">
    <h1>ARTISTS WE WORK WITH</h1>
    <div class="artists__container">
      <% users.forEach(user => { %>
      <div class="artist__box">
        <div>
          <a href="/user/show/<%= user._id %>">
            <img src="<%= user.image %>" height="200px" width="200px" />
          </a>
        </div>
        <div>
          <div>Email Address:</div>
          <div><%= user.email %></div>
        </div>
        <div>
          <div>Phone Number:</div>
          <div><%= user.phone %></div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</nav>

<div>

  <div class="empty">
    <div class="ad">
      <a href= https://www.facebook.com/Kusinanay-Lasang-Pinoy-103695921212228/?epa=SEARCH_BOX>
      <img
      typeof="foaf"
        src="/images/khsinanay.jpg"
        alt="Smiley face"
        height="100%"
        width="200px"
        />
    </div>
    <div class="ad">
      <a href= https://www.moh.gov.sa/en/HealthAwareness/EducationalContent/Corona/Pages/corona.aspx>
        <img typeof="foaf:Image" src="/images/carona.jpg"
        alt="Corona - Ministry of Health" 
        height="100%"
        width="600px"
        />
    </div>
    </div>
  </div>
</div>
