<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<div id="hero" class="hero-cont">
  <div class="hero">
    <h2>ART GALLERY</h2>
    <h1>About the Art Gallery</h1>
    <a class="aboutbtn learn" href="#feature">Learn More</a>
  </div>
</div>

<div class="bestSeller__container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bestSeller__tittle">
          <h2>Best Seller</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <%arts.forEach(art => {%>
      <div class="col-lg-4 col-sm-6">
        <div class="single__item">
          <div>
            <a href="/art/show/<%= art._id %>"
              ><img class="w3-hover-grayscale" src="<%= art.image %>" width="100%" height="300px"
            /></a>
          </div>
          <p><%= art.title %></p>
          <a href="/art/show/<%= art._id %>"><h3><%= art.description %></h3></a>
          <p>For $<%= art.price %></p>
          <div>
            <%if(currentUser.userType == "user"){%>
            <form action="/order/add/<%= art._id %>" method="POST">
              <button id="signup" class="btn btn-lg btn-primary btn-block add" type="submit">
                Add to Cart
              </button>
            </form>
            <%}%>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</div>

<div class="slideShow__view">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide slideShow__container" data-ride="carousel">
      <ol class="carousel-indicators">
        <% let index = 0 %>
        <%users.forEach(user => {%>
          <%if(user.userType == "artist"){%>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
            <% index++; %>
          <%}%>
        <%})%>
      </ol>
      <div class="carousel-inner">
        <% let check = 0; %>
        <%users.forEach((user, i) => {%>
          <%if(user.userType == "artist"){%>
            <%if(check == 0){%>
              <% check += 1 %>
              <div class="carousel-item active">
                <a href="/user/show/<%= user._id %>"><img class="d-block w-100" src="<%= user.image %>" width="1100px" height="600px"></a>
                <div class="carousel-caption d-none d-md-block slideShow__text">
                  <h5><%= user.firstname %> <%= user.lastname %></h5>
                  <p>
                    <%= user.email %>
                    <br>
                    <%= user.phone %>
                  </p>
                </div>
              </div>
            <%}else{%>
              <div class="carousel-item">
                <a href="/user/show/<%= user._id %>"><img class="d-block w-100" src="<%= user.image %>" width="1100px" height="600px"></a>
                <div class="carousel-caption d-none d-md-block slideShow__text">
                  <h5><%= user.firstname %> <%= user.lastname %></h5>
                  <p>
                    <%= user.email %>
                    <br>
                    <%= user.phone %>
                  </p>
                </div>
              </div>
            <%}%>
          <%}%>
        <%})%>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  
  </div>
</div>

 <section id="feature" class="feature">
        <div class="feat-left"></div>
        <div class="feat-right">
          <span class="feat-intro"></span>
          <h3>Art Gallery</h3>
          <p>
            "Integral to the Gallery’s collection and activities is the knowledge and scholarship that bring meaning and relevance to the artworks themselves. A core element in our exhibitions and programs, it is also evident in our publishing program, which is unmatched by any other such institution in Saudi Arabia."
          </p>
          
        </div>
      </section>
      <section>
        <video width="400" controls>
          <source src="/images/vedio.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
      </section>

<div class="container">
  <div class="empty">
    <div class="ad">
      <a href= https://www.facebook.com/Kusinanay-Lasang-Pinoy-103695921212228/?epa=SEARCH_BOX>
      <img
      typeof="foaf"
        src="/images/khsinanay.jpg"
        alt="Smiley face"
        height="100%"
        width="200px"
        />
    </div>
    <div class="ad">
      <a href= https://www.moh.gov.sa/en/HealthAwareness/EducationalContent/Corona/Pages/corona.aspx>
        <img typeof="foaf:Image" src="/images/carona.jpg"
        alt="Corona - Ministry of Health" 
        height="100%"
        width="600px"
        />
    </div>
    </div>
</div>
</div>
