<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<div class="bestSeller__container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bestSeller__tittle text-center">
          <h2>Best Seller</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <%arts.forEach(art => {%>
      <div class="col-lg-4 col-sm-6">
        <div>
          <div>
            <a href="/art/show/<%= art._id %>"
              ><img src="<%= art.image %>" width="220px" height="220px"
            /></a>
          </div>
          <p><%= art.title %></p>
          <a href="/art/show/<%= art._id %>"><h3><%= art.description %></h3></a>
          <p>For $<%= art.price %></p>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</div>

<nav id="loguser">
  <div class="hello"><h4>artist Gallery <%= currentUser.firstname %>!</h4></div>
  <!-- <div><h3>You are logged in <%= currentUser.firstname %>!</h3></div> -->
  <hr />
  <div>
    <% if(currentUser.userType == "admin"){ %> <%
    users.forEach(function(user){%>
    <div><%= user.firstname %></div>
    <% }) %> <% } %>

    <h1 class="best">Best Seller</h1>

    <div class="empty" id="price">
      <%arts.forEach(art => {%>
      <div class="box">
        <div class="w3-tooltip">
          <p class="w3-text">
            Art Description: <%= art.description %> <br />Price: <%= art.price
            %>
          </p>
          <a href="/art/show/<%= art._id %>"
            ><img
              src="<%= art.image %>"
              class="w3-hover-opacity"
              width="220px"
              height="220px"
          /></a>
        </div>
        <div>
          <%if(currentUser.userType == "user"){%>
          <form action="/order/add/<%= art._id %>" method="POST">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Add to Cart
            </button>
          </form>
          <%}%>
        </div>
      </div>
      <%})%>
    </div>
  </div>
  <hr />
  <div class="partner">
    <h1>ARTISTS WE WORK WITH</h1>
    <div class="artists__container">
      <% users.forEach(user => { %> <%if(user.userType == "artist"){%>
      <div class="artist__box">
        <div>
          <a href="/user/show/<%= user._id %>">
            <img src="<%= user.image %>" height="200px" width="200px" />
          </a>
        </div>
        <div>
          <div>Email Address:</div>
          <div><%= user.email %></div>
        </div>
        <div>
          <div>Phone Number:</div>
          <div><%= user.phone %></div>
        </div>
      </div>
      <%}%> <% }) %>
    </div>
  </div>
</nav>

<div>
  <h1 class="best">Advertisements</h1>
  <div class="empty">
    <div class="box">
      <img
        src="/images/khsinanay.jpg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
    <div class="box">
      <img
        src="/images/Eq6-.jpeg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
    <div class="box">
      <img
        src="/images/1111.jpeg"
        alt="Smiley face"
        height="100%"
        width="100%"
      />
    </div>
  </div>
</div>
