<h1>Hello <%= currentUser.firstname %></h1>
<div class="w3-bar-block w3-black" style="width:320px">
  <a href="/auth/home" class="w3-bar-item w3-button">home</a>
  <a href="/user/update" class="w3-bar-item w3-button"
    >Update Email and Password</a
  >
  <a href="/user/updateInformation" class="w3-bar-item w3-button"
    >Update informaction</a
  >
</div>
>
<div class="artist__work" id="loguser">
  <% if(currentUser.userType == "artist"){%>
  <h3>Your Work</h3>
  <div class="artists__container">
    <% user.art.forEach(art => {%>
    <div class="artist__box">
      <div>
        <img src="<%= art.image %>" width="200px" height="200px" />
      </div>
      <div>
        <div>
          <%= art.title %>
        </div>
        <div>
          <%= art.description %>
        </div>
        <div>
          $<%= art.price %>
        </div>
        <form action="/art/update/<%= art._id %>" method="POST">
          <button type="submit" class="btn btn-lg btn-primary btn-block">
            Update
          </button>
        </form>
      </div>
    </div>
    <%})%>
  </div>
  <%}%>
</div>
<footer>
  made by EJM group @2020
</footer>
