<h1>Hello <%= currentUser.firstname %></h1>
<<<<<<< HEAD
<h1><a href="/auth/home">home</a></h1>
<h1><a href="/user/update">Update Email and Password</a></h1>
<h1><a href="/user/updateInformation">Update informaction</a></h1>
<div class="artist__work" id="loguser">
  <% if(currentUser.userType == "artist"){%>
  <h3>Your Work</h3>
  <div class="artists__container">
    <% user.art.forEach(art => {%>
    <div class="artist__box">
      <div>
        <img src="<%= art.image %>" width="200px" height="200px" />
      </div>
      <div>
        <div>
          <%= art.title %>
        </div>
        <div>
          <%= art.description %>
        </div>
        <div>
          $<%= art.price %>
        </div>
        <form action="/art/update/<%= art._id %>" method="POST">
          <button type="submit" class="btn btn-lg btn-primary btn-block">
            Update
          </button>
        </form>
      </div>
    </div>
    <%})%>
  </div>
  <%}%>
</div>
=======
<div class="w3-bar-block w3-black" style="width:320px">
  <a href="/auth/home" class="w3-bar-item w3-button">home</a>
  <a href="/user/update" class="w3-bar-item w3-button">Update Email and Password</a>
  <a href="/user/updateInformation" class="w3-bar-item w3-button">Update informaction</a>
</div>

>>>>>>> ea6fc1f73dbba1a365bcf563a59b49f9ef7328af
<footer>
  made by EJM group @2020
</footer>


