<div class="container">
  <div class="artList__container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="bestSeller__tittle">
            <h2>Artists We Work With</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <%user.forEach(user => {%> <%if(user.userType == "artist"){%>
        <div class="col-lg-4 col-sm-6">
          <div class="single__item">
            <div>
              <a href="/user/show/<%= user._id %>"
                ><img  class="img-circle w3-hover-sepia" alt="Cinque Terre" src="<%= user.image %>" width="70%" height="200px"
              /></a>
            </div>
            <br>
            
              <a id="signup" class="nam" href="/user/show/<%= user._id %>"
              ><h5><%= user.firstname %> <%= user.lastname %></h5></a>
             <div class="info"> 
            <p><%= user.email %></p>
            <p><%= user.phone %></p>
            </div>
            
          </div>
        </div>
        <%}%> <%})%>
      </div>
    </div>
  </div>
</div>
