<h1><%= user.firstname %>'s Work</h1>
<% user.art.forEach(art => {%>
<div>
  <div>
    <img src="<%= art.image %>" width="200px" height="200px" />
  </div>
  <div>
    <div>
      <%= art.title %>
    </div>
    <div>
      <%= art.description %>
    </div>
    <div>
      <%= art.price %>
    </div>
  </div>
</div>
<%})%>
