<h1>Artest Page</h1>

<div>
    <% artest.forEach(function(artest){ %>

        <div> <img src="<%= artest.image %>" height="200px" width="200px"></div>

        <div>
            <a href="/artest/<%= artest._id%>"><%= artest.name %></a>
        </div>

        <div>Email Address: <%= artest.emailAddress %></div>
        <div>Phone Number: <%= artest.phoneNumber %></div>

<hr>
<% artest.art.forEach(function(art){ %>
    <div>
        <div class="art">Article: <%= art.title %></div>
        <div class="art">Content: <%= art.content %></div>
    </div>
    <hr>
 <% }) %>


        <div>Created On: <%= moment(artest.createdAt).fromNow() %></div>


        <div>
            <form method="POST" 
            action="/artest/<%= atrest._id %>/delete?_method=DELETE">
        <button type="submit">Delete Artest</button>
        </form>
        </div>

   <% }) %>
</div>