<h1>Artist Page</h1>

<div>
  <% artist.forEach(function(artist){ %>

  <div><img src="<%= artist.image %>" height="200px" width="200px" /></div>

  <div>
    <a href="/artist/<%= artist._id%>"><%= artist.name %></a>
  </div>

  <div>Email Address: <%= artist.emailAddress %></div>
  <div>Phone Number: <%= artist.phoneNumber %></div>

  <hr />
  <% artist.art.forEach(function(art){ %>
  <div>
    <div class="art">Art: <%= art.title %></div>
    <div class="art">Content: <%= art.content %></div>
  </div>
  <hr />
  <% }) %>

  <div>Created On: <%= moment(art.createdAt).fromNow() %></div>

  <div>
    <form
      method="POST"
      action="/artist/<%= atrist._id %>/delete?_method=DELETE"
    >
      <button type="submit">Delete Artist</button>
    </form>
  </div>

  <% }) %>


<div><%= Art.name %></div>
<div>
  <img
    src="<%= Art.image %>"
    alt="art Image"
    width="200"
    height="200"
  />
</div>
</div>
<%}) %>